.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #600028;
    padding: 16px;
    color: white;
  }
  
  .title {
    margin-bottom: 12px;
  }
  
  .item {
    cursor: pointer;
    padding: 8px;
    transition: 0.3s;
  }
  
  .item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  